body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.nav-style {
    font-size: large;
    background-color: rgb(255, 0, 106);
}

a.name.navbar-brand {
    color: white;
}

.name {
    text-align: center;
}

.jumbotron {
    background-color: red;
    color: white;
    text-align: center;
}

.work-images {
    max-width: 33%;
    max-height: min-content;
    margin:2px;
    padding: 2px;
    text-align: center;
}

/* .jumbotron:scroll {
    ;
} */

#routes {
    font-weight: normal;
    color: white;
}