body {
    color:  darkseagreen;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

/* navbar styling */
.name-logo {
    margin-left: 200px;
    margin-right: 150px;
    padding: 5px;
    color:  darkseagreen;
    max-width: 45%;
    font-size: x-large;
}

.name-logo:hover {
    color: darkseagreen;
}

.navbar-nav .nav-link {
    color: darkseagreen;
    max-width: 55%;
    display: inline;
}

#btn {
    flex-direction: row;
}

.btn.btn-primary {
    background-color: transparent;
    color:darkseagreen;
    border: none;
    font-size: large;
    padding: 5px;
    margin: 5px;
}

.btn.btn-primary:hover {
    border: solid 3px darkseagreen;
}

/* landing styling */
.hero-image {
    width: 1100px;
    height: 575px;
    padding: 0px;
    margin-left: 150px;
    margin-right: 150px;
    opacity: 100%;
}

.landing {
    position: relative;
    color:  darkseagreen;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    margin-top: 80px;
}

.intro {
    font-size: medium;
}

/* middle styling */
#jumbotron {
    margin-top: 43px;
    border: 0px;
    background-color: #ecdfec;
    color: white;
}

/* work grid styling */
.work-grid {
    margin-top: 43px;
    margin-bottom: 10px;
}

#work:hover {
    border: solid 5px darkseagreen;
}

/* modal styling */
.about {
    color: forestgreen;
}

.btn.btn-secondary {
    border: none;
    background-color:darkseagreen;
    color: white;
    border-radius: 10px;
}

/* footer nav */
.footer-nav {
    background-color: darkseagreen; 
    padding: 30px;
    margin-top: 20px;
    min-width: 100%;
    margin: 0;
}

a.nav-link {
    color: white;
}

/* media queries */
@media only screen and (min-width: 600px) {
/* For tablets: */
}
  
@media only screen and (min-width: 768px) {
/* For desktop: */
}
