body {
    color:  darkseagreen;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.name-logo {
    margin-left: 200px;
    margin-right: 150px;
    padding: 0px;
    color:  darkseagreen;
    max-width: 45%;
    font-size: x-large;
}

.name-logo:hover {
    color: darkseagreen;
    border: solid 3px darkseagreen;
  }

.navbar-nav .nav-link {
    color: darkseagreen;
    max-width: 55%;
}


.hero-image {
    width: 1100px;
    height: 575px;
    padding: 0px;
    margin-left: 150px;
    margin-right: 150px;
    opacity: 100%;
    border: solid 5px darkseagreen;
}

.landing {
    position: relative;
    color:  darkseagreen;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    margin-top: 80px;
}

.work-grid {
    margin-top: 100px;
}

.intro {
    font-size: medium;
}

.btn.btn-primary {
    background-color: transparent;
    color:darkseagreen;
    border: none;
    font-size: large;
}

.btn.btn-primary:hover {
    border: solid 3px darkseagreen;
  }


.btn.btn-secondary {
    border: none;
    background-color:darkseagreen;
    color: white;
    border-radius: 10px;
}
