body {
    color: red;
    font-family: 'Poppins', sans-serif;
}

.nav-item {
    color:red;
}

.center {
    padding: 70px 0;
    text-align: center
}

.top-right .bottom-right .top-left .bottom-left {
    margin: 10px;
    padding: 10px;
}

.top-right {
    margin: 10px;
    padding: 10px;
}

.full-page {
    height: 100%;
}