body {
    color: darksalmon;
    font-family: 'Poppins', sans-serif;
}

.name-logo {
    margin-left: 200px;
    margin-right: 150px;
    padding: 0px;
    color: darksalmon;
    max-width: 45%;
}

.name-logo:hover {
    color:darksalmon;
  }

.navbar-nav .nav-link {
    color: darksalmon;
    max-width: 55%;
}

.hero-image {
    width: 1100px;
    height: 575px;
    border: 15px dotted darksalmon;
    padding: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

h4 {
    margin-top: 80px;
}


.work-grid {
    margin-top: 100px;
}

.intro {
    font-size: medium;
}

.btn.btn-primary {
    background-color: transparent;
    color: darksalmon;
    border: none;
}